# The Site Settings
title: 新月饭店                    # 主要标题

tagline: 人生中没有后悔，只有教训。  # 它将显示为子标题

description: 

# 填写站点的基本主机名和协议, e.g., 'https://username.github.io'
url: 'https://iu2099.github.io'

showAuthor: false
author: IU                  # 改成你的全名

avatar: /assets/img/sample/avatar.png   # 支持互联网资源

github:
  username: iu2099             # 更改为github用户名

twitter:
  username:           # change to your twitter username

social:
  name: IU                  # 它将在页脚中显示为版权所有者
  email: spring.onion@live.cn            # change to your email address
  links:
    # 第一个元素充当版权所有者的链接
    # - https://twitter.com/username      # twitter主页
    # - https://github.com/username       # github主页
    # 取消下面的注释以添加更多社交链接
    # - https://www.facebook.com/username
    # - https://www.linkedin.com/in/username

google_site_verification: google_meta_tag_verification # 更改验证字符串
# --------------------------

#只有当您的站点类型是GitHub Project sites并且没有自定义域时，
#将下面的值更改为“/projectname”。
baseurl: ''

# 更改时区 › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Asia/Shanghai

google_analytics:
  id: ''          # 填写你的谷歌分析ID
  pv:
    # google_analytics页面浏览量开关。
    # 除非你不知道如何部署超级代理。
    enabled: false
    #下一个选项只有在`google_analytics.pv`已启用。
    proxy_url: ''
    proxy_endpoint: ''
    cache: false  #pv数据本地缓存，适合GFW地区的用户使用。
#评论系统
disqus:
  comments: false  # boolean类型，posts注释的全局开关.
  shortname: 'user'    # Fill with your Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname

gitalk:
  comments: true
  owner: 'IU2099'
  admin: 'IU'
  repo: 'iu2099.github.io'
  clientID: 'ed52df6e3413b4926979'
  clientSecret: '285823f2e7642a7c8d284ef39787bab0c197b919'

# 首选配色方案设置。
# 注意：Keep empty默认遵循系统首选颜色，
# 而且会有一个切换开关，在黑暗和光明之间切换主题
# 在侧栏的左下角。
# 可用选项：
# 灯光-使用灯光颜色方案
# 深色-使用深色方案
#
theme_mode:  # <light|dark>
canvasTime: true

#boolean类型，posts中ToC的全局开关。
toc: true

paginate: 10

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:   # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # 默认语言： console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

#除非您是Jekyll和Web开发方面的专业用户，否则不要更改此设置，
#或者您认为自己足够聪明，可以更改此模板中的其他相关URL。
permalink: /posts/:title/

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  -
    scope:
      path: ''          # 这里的空字符串表示项目中的所有文件
      type: posts
    values:
      layout: post
      comments: true    # 在帖子中启用评论。
      toc: true         # 在文章中显示目录栏。
      breadcrumb:
        -
          label: 文章
          url: /
  -
    scope:
      path: _drafts
    values:
      comments: false
  -
    scope:
      path: index.html
    values:
      breadcrumb:
        -
          label: 文章
  -
    scope:
      path: tags
    values:
      breadcrumb:
        -
          label: 首页
          url: /
        -
          label: Tags
          url: /tabs/tags/
  -
    scope:
      path: categories
    values:
      breadcrumb:
        -
          label: 首页
          url: /
        -
          label: Categories
          url: /tabs/categories/
  -
    scope:
      path: ''
      type: tabs             # 这个`网站集，'
    values:
      layout: page
      dynamic_title: true    # 在移动屏幕中隐藏标题。
      breadcrumb:
        -
          label: 首页
          url: /

sass:
  sass_dir: /assets/css
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: []

exclude:
  - vendor
  - Gemfile.lock
  - Gemfile
  - tools
  - docs
  - README.md
  - LICENSE

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/