<!--
  Calculate the post's reading time, and display the word count in tooltip
 -->
{% assign words = include.content | strip_html | number_of_words: "auto" %}

{% assign read_time = words | divided_by: site.data.read_time.wpm %}

{% unless read_time > 0 %}
{% assign read_time = site.data.read_time.min_time %}
{% endunless %}

<!-- return element -->
<span class="readtime" data-placement="bottom" data-toggle="tooltip" title="{{ words }} 字">
  {{- read_time -}}
  {{" "}}
  {{- site.data.read_time.prompt -}}
</span>